src/main/resources/xsd/empleado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com/empleado-ws"
           targetNamespace="http://example.com/empleado-ws"
           elementFormDefault="qualified">

    <!-- Definición de tipos complejos -->
    <xs:complexType name="empleado">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="nombres" type="xs:string"/>
            <xs:element name="apellidos" type="xs:string"/>
            <xs:element name="tipoDocumento" type="xs:string"/>
            <xs:element name="numeroDocumento" type="xs:string"/>
            <xs:element name="fechaNacimiento" type="xs:date"/>
            <xs:element name="fechaVinculacion" type="xs:date"/>
            <xs:element name="cargo" type="xs:string"/>
            <xs:element name="salario" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="empleadoRequest">
        <xs:sequence>
            <xs:element name="empleado" type="tns:empleado"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="empleadoResponse">
        <xs:sequence>
            <xs:element name="empleado" type="tns:empleado"/>
            <xs:element name="mensaje" type="xs:string"/>
            <xs:element name="codigo" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definición de elementos raíz -->
    <xs:element name="createEmployeeRequest" type="tns:empleadoRequest"/>
    <xs:element name="createEmployeeResponse" type="tns:empleadoResponse"/>
    


</xs:schema>
